> This notebook will be used to explore how I want to manage the 'liked teachers' data in the VIPKid Teacher App.

In [43]:
import pandas as pd

teachers = pd.read_csv('vip_teacher_names.csv')
teachers

        Teachers
0      Katie EAV
1      Tammy PHT
2      Amber MZC
3     Andrew BAR
4   Kimberly BDP
5     Miranda CR
6     Richard ZZ
7        Tomas B
8    Stefanie BD
9    Kristina EB
10    Jessica XH
11     Thomas CH

In [44]:
teachers.Teachers.to_list()

['Katie EAV',
 'Tammy PHT',
 'Amber MZC',
 'Andrew BAR',
 'Kimberly BDP',
 'Miranda CR',
 'Richard ZZ',
 'Tomas B',
 'Stefanie BD',
 'Kristina EB',
 'Jessica XH',
 'Thomas CH']

In [45]:
teachers.size

12

In [46]:
teachers[teachers.Teachers != 'Katie EAV'].reset_index(drop=True)

        Teachers
0      Tammy PHT
1      Amber MZC
2     Andrew BAR
3   Kimberly BDP
4     Miranda CR
5     Richard ZZ
6        Tomas B
7    Stefanie BD
8    Kristina EB
9     Jessica XH
10     Thomas CH